
body {
	background-color: #DFE2DB;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 40px;
	margin-left:auto;
	margin-right:auto;
	color:white;
}

h3{
padding:10px;
	
}

.passForm{
	
	background: url('../resources/images/backgroundImg.jpg'); 
	margin-top:10px;
	padding-bottom:270px;
}

input[type='text']{
	margin:10px;
	color:black;
	
}

input[type='submit']{
	margin:20px;
}